<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Model\Url" type="Infobeans\Avectra\Model\Customer\Url" />
    <preference for="Magento\Customer\Controller\Account\LoginPost" type="Infobeans\Avectra\Controller\Customer\Account\LoginPost" />
</config>